@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgSoft text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ffcf56;
  border-radius: 9999px;
}
